.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.user-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
}

.user-item {
    padding: 1rem;
}
